{% extends 'farmer_base.html' %}

{% block content %}
  <div class="page-header text-center"><h2>Sign up</h2></div>
<div class="container-fluid" >
<!--form-stars-here-->
		
  <form class="form-horizontal" method="post">
	
    {% csrf_token %}
    {% for field in form %}
	
      <p style="font-size:15px;color:black;">
        {{ field.label_tag }}<br/>
        {{ field }}
	
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>

</div>
{% endblock %}
