
{% load render_table from django_tables2 %}


<div class="row container-fluid" style="margin:2%;">
                                <div class="col-sm-12 box box-info">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="background-color:rgb(243,228,159)"> 
                            
                                        	<p>Market Info</p>
                                   		</div>
                                            <div class="panel-body">
                                               {% render_table tableMarket %}
                                                
                                            </div>
                                    </div>
                                </div>
</div>