{% load get_variable %}

<div class="row container-fluid">
<div class="col-sm-12">


<form class="form-horizontal panel panel-default container-fluid" action="view_report" method="post">
  {% if user.is_authenticated %}
  {% csrf_token %}
  <div class="panel-heading container-fluid"><p>Enter query here :</p></div>
  <div class="panel-body">
                                                            
            <div class="form-group">
                <label class="col-sm-5">Warehouse Location :</label>
                <input class="col-sm-7" type="text" name="location" class="input-xlarge">
            </div>
            <div class="form-group">
                <label class="col-sm-5">Warehouse Capacity :</label>
                <input class="col-sm-7" type="number" name="capacity" class="input-xlarge">
            </div>
            <div class="form-group">
                <label class="col-sm-5">Warehouse Charge :</label>
                <input class="col-sm-7" type="number" name="charge" class="input-xlarge">
            </div>
            <hr></hr>
            <div class="form-group">
                <label class="col-sm-5">Crop category :</label>
                <input class="col-sm-7" type="text" name="catagory" class="input-xlarge">
            </div>
            <div class="form-group">
                <label class="col-sm-5">Crop Price :</label>
                <input class="col-sm-7" type="number" name="price" class="input-xlarge">
            </div>
            
                
                                                  
  <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
          <input class="btn btn-default" type="submit" style="background-color:rgb(210,213,213);" value="Run Query"></input>
      </div>
      {% endif %}
      <div class="col-sm-4"></div>
  </div>

</div>
</form>
</div>
</div>